* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: linear-gradient(135deg, #ffd68f, #f05423);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    background: #262626;
    border-radius: 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


.highlight {
    color: #f05423;
}

.content h1 {
    font-size: 2.2rem;
    margin: 20px 0;
    line-height: 1.4;
}

.security-icon {
    background-color: #f05423;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
}

.buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.send-btn {
    background-color: #f05423;
    color: white;
}

.receive-btn {
    background-color: transparent;
    color: white;
    border: 2px solid #f05423;
}

.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.file-input {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.choose-files {
    cursor: pointer;
    font-size: 1rem;
}

#file-upload {
    display: none;
}

.upload-btn {
    background-color: #f05423;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
